<h2>Upload Contract</h2>

<form asp-action="Upload" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label>Select file</label>
        <input type="file" name="file" class="form-control" />
    </div>
    <button type="submit" class="btn btn-success mt-2">Upload</button>
</form>
